@font-face {
    font-family: 'RotondaBold';
    src: url('../fonts/RotondaBold.svg#RotondaBold') format('svg'),
    url('../fonts/RotondaBold.ttf') format('truetype'),
    url('../fonts/RotondaBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*, *:after, *:before {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    font-family: 'RotondaBold', sans-serif;
    margin: 0;
    background-color: #fbf3eb;
    font-size: 15px;
    color: #090000;
    display: flex;
    flex-direction: column;
}

html, body{
    height: 100%;
}

.button {
    height: 28px;
    width: 28px;
    position: absolute;
    top: 34px;
    left: 256px;
    background: #f7f7f7;
    cursor: pointer;
    border-radius: 20px;
}
.content {
    flex: 1 0 auto;
}
.header{
    background: url("../images/shapka.png") center repeat-x;
    margin-top:0;
    background-size: cover;
    max-height:237px;
    z-index: 1000;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.form__input{
    position: relative;
    display: block;
    margin: 31px auto 0 50px;
    font-family: 'RotondaBold', sans-serif;
    background: #f3f3f3;
    border-radius: 20px;
    width: 221px;
    height: 32px;
    padding-left: 17px;
    outline: 0;
    border:  0;

}
.logo{
    display: block;
    margin: 35px auto;

}
.about {
    border: 0;
    background-color: #eff5f8;
    position: relative;
    border-radius: 25px;
    padding: 0;
    cursor: pointer;
    top: 12px;
    left: 40px;
    margin: 10px;
}
.delivery {

    border: 0;
    background-color: #eff5f8;
    position: relative;
    border-radius: 20px;
    padding: 0;
    cursor: pointer;
    top: 11px;
    left: 23px;
    margin: 10px;
}
.item {
    height: 330px;
}
.content_text{
    width: 208px;
    margin-left: 56px;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #004a77;
    text-shadow: 4px 0 4px #fff,
    0 4px 4px #fff,
    -4px 0 4px #fff,
    0 -4px 4px #fff;
}
.two{
    font-size: 15px;
    color: #004a77;
}
.telephone{
    margin: 34px auto ;

}
.graphic{
    margin-top: 10px ;
}
.bell{
    margin-top: 10px ;
}
.container {
    padding-bottom: 100px;
    font-size: smaller;
}
.content {
    background: url("../images2/modal.png") center no-repeat;
    background-size: cover;
    height: 800px;
    width: 550px;
    position: absolute;
    top: 122px;
    left: 285px;
}
.title {
    width: 200px;
    text-align: center;
    color: #004a77;
    margin: 50px 178px 35px;
}
.fio {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    top: 0;
    left: 85px;
}
.mod_input {
    width: 250px;
    position: relative;
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 3px;
    top: -25px;
    left: 208px;
}
.mod_item {
    position: relative;
    top: 0;
    left: 56px;
    height: 70px;
}
.zakaz_title {
    position: relative;
    top: -46px;
    left: 21px;
    width: 150px;
    line-height: 1.2;
}
.zakaz_title a {
    position: relative;
    top: 9px;
    color: #1b1e21;
}
.kolvo {
    position: relative;
    top: -54px;
    left: 215px;
}
.zakaz_price {
    position: relative;
    top: -73px;
    left: 319px;
}
.otmena {
    position: relative;
    top: -93px;
    left: 391px;
}
.button_of {
    position: relative;
}
.of_img {
    position: relative;
    left: 173px;
}
.oform_text {
    position: relative;
    color: #1b1e21;
    font-size: 16px;
    top: 2px;
    left: 12px;
}

.cont {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    top: 9px;
    left: 75px;
}
.radio {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 10pt;
}
.radio_item {
    position: relative;
    top: 25px;
    left: 99px;
    height: 25px;
}
.radio_text {
    position: relative;
    top: -21px;
    left: 49px;
}


.footer{
    background-size: cover;
    background: #fbf3eb url("../images/foter.png");
    height: 180px;
    margin-top: 825px;
    margin-bottom: 0;
    flex-shrink: 0;
}
.gusi{
    position: relative;
    top: 95px;
    left: 138px;
}
.telchik{
    position: relative;
    top: 110px;

}
.menu_item{
    color: black;
    font-size: 30px;
    display: inline-block;
    margin: 0 3px;
}
.social{
    display: inline;
    color: black;
    position: relative;
    top: 100px;
    cursor: pointer;
    right: 35px;
}
.gusifooter{
    position:relative ;
    bottom: 40px;
    right: 110px;

}